In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.kernel_ridge import KernelRidge
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
df = pd.read_excel('/content/ENB2012_data.xlsx')
df

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

In [5]:
X_data = df.drop(['Y1', 'Y2'], axis=1)
Y_data = df[['Y1', 'Y2']]

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size=0.3)

## Linear regression

In [6]:
linear_clf = LinearRegression()

In [11]:
linear_clf.fit(X_train, Y_train['Y1'])
Y_pred = linear_clf.predict(X_test)
print('MSE: ', mean_squared_error(Y_test['Y1'], Y_pred))
print('R2: ', r2_score(Y_test['Y1'], Y_pred))

MSE:  9.317118847977465
R2:  0.9120619979839608

In [12]:
linear_clf.fit(X_train, Y_train['Y2'])
Y_pred = linear_clf.predict(X_test)
print('MSE: ', mean_squared_error(Y_test['Y2'], Y_pred))
print('R2: ', r2_score(Y_test['Y2'], Y_pred))

MSE:  11.06122803880269
R2:  0.8829888235684307

### Kernel ridge

In [13]:
ridge_clf = KernelRidge()

In [14]:
ridge_clf.fit(X_train, Y_train['Y1'])
Y_pred = ridge_clf.predict(X_test)
print('MSE: ', mean_squared_error(Y_test['Y1'], Y_pred))
print('R2: ', r2_score(Y_test['Y1'], Y_pred))

MSE:  10.141419113626883
R2:  0.9042819836248829

In [15]:
ridge_clf.fit(X_train, Y_train['Y2'])
Y_pred = ridge_clf.predict(X_test)
print('MSE: ', mean_squared_error(Y_test['Y2'], Y_pred))
print('R2: ', r2_score(Y_test['Y2'], Y_pred))

MSE:  11.933902452429676
R2:  0.8737572392070909

### Ridge regression

In [18]:
ridge_clf = Ridge()

In [19]:
ridge_clf.fit(X_train, Y_train['Y1'])
Y_pred = ridge_clf.predict(X_test)
print('MSE: ', mean_squared_error(Y_test['Y1'], Y_pred))
print('R2: ', r2_score(Y_test['Y1'], Y_pred))

MSE:  9.974562771841143
R2:  0.9058568281191686

In [20]:
ridge_clf.fit(X_train, Y_train['Y2'])
Y_pred = ridge_clf.predict(X_test)
print('MSE: ', mean_squared_error(Y_test['Y2'], Y_pred))
print('R2: ', r2_score(Y_test['Y2'], Y_pred))

MSE:  11.713927489373251
R2:  0.8760842438689992